body {
    margin: 0;
    font-family: "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

#headerLogo {
    width: 5rem;
}

.nav-right {
    margin-top: auto;
    margin-bottom: auto;
    height: 50px;
}

.li-book-span {
    width: 30%;
}

main {
    min-height: 76vh;
}

footer,
main:after {
    /* .push must be the same height as footer */
    height: 80px;
    margin-top: 50px;
}
