body {
    margin: 0;
    font-family: "Satisfy", cursive, sans-serif !important;
    font-size: 1.2rem !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

.form-control,
.collapsed,
.li-book-span {
    font-size: 1.5rem !important;
}

.btn {
    font-size: 1.3rem !important;
}

#headerLogo {
    width: 4rem;
    margin-right: 0.5rem;
}

.nav-right {
    margin-top: auto;
    margin-bottom: auto;
    height: 2.5rem;
}

.li-book-span {
    width: 40%;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.subtitle {
    font-size: 1.4rem;
}
