body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

#headerLogo {
    width: 5rem;
}

.nav-right {
    margin-top: auto;
    margin-bottom: auto;
    height: 50px;
}

footer {
    margin-bottom: 0;
    margin-top: auto;
}
